.clientPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
  }
}

.newClientPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  .header {
    display: flex;
    gap: 2rem;
    align-items: center;

    h2 {
      margin: 0;
    }

    span {
      font-size: 20pt;
    }
  }
}
