.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  background: #001528;
  color: white;
  vertical-align: top;
  position: relative;

  &:hover {
    color: #1890ff;
  }
}

.header {
  background: transparent;
  width: 100%;
  padding: 1rem 2rem;
  height: unset;
  display: flex;
  justify-content: space-between;

  .headerActions {
    display: flex;
    gap: 2rem;
    align-items: center;

    button {
      height: unset;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }
  }
}

.dropdown {
  width: 200px;
  padding: 0.5rem 1rem;
}

.layout {
  min-height: 100vh;
  .content {
    background: #fff;
    width: 100%;
    padding: 24px;
    border-radius: 1rem;
  }
}

.avatar {
  align-self: center;
  color: #f56a00;
  background: #fde3cf;
}
