.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #7c83fd; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #88fff7, #7c83fd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #88fff7,
    #7c83fd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .form {
    padding: 4rem 6rem;
    border-radius: 10px;
    box-shadow: 0 0 4px #888;
    background: white;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    h1 {
      color: #7c83fd;
    }

    label {
      color: #333;
    }

    .inputGroup {
      display: flex;
      gap: 2rem;

      div:first-child {
        flex: 1;

        input {
          width: 100%;
        }
      }
    }

    input {
      border: 1px solid #333;
      box-sizing: border-box;
      padding: 0.5rem 1rem;
    }

    .forgotPassword {
      color: #96baff;
      text-decoration: none;
    }

    button[type="submit"] {
      width: 100%;
      padding: 0.5rem 3rem;
      background: #7c83fd;
      color: #fff;
      font-weight: 600;
      border: none;
      box-shadow: 0 0 2px #999;
    }

    .register {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        color: #999;
      }

      a {
        text-decoration: none;
        color: #7dedff;
      }
    }
  }
}
